#nav {
    display: flex;
    background-color: var(--custom-mat-on-surface);
    padding: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 45px;
    z-index: 10;
}

.navIcons {
    margin-left: auto;

    mat-icon {
        vertical-align: middle;
    }

    a {
        display: inline-flex;
    }
}

#nav a {
    text-decoration: none;
    color: var(--mat-sys-on-surface);
    border-radius: 5px;
    padding: 8px;
}

#nav a:hover {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-surface);
    transition: .1s;
}