<div id="tdControls">
    <button mat-icon-button (click)="toggleLists()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
    <span>{{getCurrentListName()}}</span>
</div>
<app-todo-lists [_lists]="lists" (listAdded)="listAdded($event)" (listChanged)="listChanged($event)" *ngIf="_openLists"></app-todo-lists>
<app-todo-todos [_currTodos]="getCurrentList()" [_currListId]="lists[currList]" (itemAdded)="itemAdded($event)" *ngIf="isList && !_openLists"></app-todo-todos>
<app-todo-inspect [_todo]="getCurrentTodo()" *ngIf="isTodo"></app-todo-inspect>