/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
    color-scheme: light dark;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --custom-mat-on-surface: #333;
    --nav-bar-height: 55px;
    --controls-height: 60px;

    @include mat.theme((
        color: mat.$cyan-palette,
        typography: Verdana,
        density: 0
    ));
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width: 1024px) {
    input, textarea {
        font-size: 16px;
    }
}

body {
    background: var(--mat-sys-surface);
    padding: 0px;
    margin: 0px;
    touch-action: manipulation;
}

.stackable {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stackable > li {
    text-align: start;
    display: inline-block;
}

.stacked {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.stacked > li {
    text-align: start;
    display: inline-block;
}

.centerText {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding: 10px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.rounded {
    overflow: hidden;
    border-radius: 12px;
}

.flex {
    display: flex;
}

.rightBtn {
    margin-left: auto;
}

.leftBtn {
    margin-right: auto;
}

.block {
    display: block;
}

.animated {
    transition: 1s;
}

.animatedFast {
    transition: .3s;
}

.animatedSlow {
    transition: 2s;
}

.fullWidth {
    width: 100%;
}

.colorPrimary {
    color: var(--mat-sys-primary);
}

.colorError {
    color: var(--mat-sys-error);
}

.displayNone {
    display: none;
}

.hiddenContainer {
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

.hiddenSpan {
    position: absolute;
    overflow: hidden;
    white-space: pre;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.unhideContainer {
    height: unset;
    width: unset;
    margin: unset;
    padding: unset;
}

.unhideHeight {
    height: unset;
}

@media (prefers-color-scheme: light) {
    html {
        --custom-mat-on-surface: #ddd;
    }
}