<div>
    <button mat-icon-button>
        <mat-icon>
            arrow_back_ios_new
        </mat-icon>
    </button>
</div>
<div class="todoInspect rounded centered">
    <form class="todoForm" [formGroup]="todoForm">
        <label class="inputLabel">Title</label>
        <input class="input" type="text" placeholder="Title" formControlName="title" />
        <label class="inputLabel">Notes</label>
        <textarea class="input descField" placeholder="Notes" formControlName="notes"></textarea>
        <label class="inputLabel">Due Date</label>
        <input class="input" type="date" formControlName="due" />
        <button class="rightBtn" mat-button (click)="saveTodo()">Save</button>
    </form>
</div>